
<ion-view title="{{name}}">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="item in items" ui-sref="{{item.state}}" style="cursor: pointer;" class="item-icon-left">
        <i class="icon {{item.icon}}"></i>
        <h2>{{item.title}}</h2>
        <span class="item-note">
          {{item.additionalData}}
        </span>
      </ion-item>
    </ion-list>
  </ion-content>

  <div class="bar bar-footer bar-balanced">
    <div class="title">{{nextItem.description}}</div>
  </div>
</ion-view>


